{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">

        <div class="col-lg-6 border border-dark">
                <p>Putain de bootstrap test</p>
            <span class="fa fa-address-card"></span>
        </div>

    </div>
{% endblock %}